* {
    box-sizing: border-box;
}

body {
    background-color: #0d202b;
}


/* ================================== */
/*              Header               */
/* ================================== */

.nav {
    margin-left: 25px;
}

.nav-link {
    color: rgba(19,127,135,1);
    font-size: large;
}

.nav-link:hover {
    color: rgba(61, 207, 251, 0.7);
}

.title {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}

#about,
#projects {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    color: white;
    padding-top: 50px;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    background-image: url(../img/sunset.jpg);
    background-size: cover;
}

.jumbotron .welcome {
    padding-bottom: 10px;
    font-size: 25px;
}


.arrow {
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 50px;
}

/* ================================== */
/*           Jumbotron js             */
/* ================================== */

.snowy {
    position: relative;
    overflow: hidden;
}

.snowy i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}


/* making the snowfall down */
@keyframes animate {
    0% {
        opacity:0;
        transform: translateY(-100px);
    }
    10%,90% {
        opacity: 1;
    }
    100% {
        opacity:0;
        transform: translateY(0);
    }
}

/* ================================== */
/*             About Me               */
/* ================================== */


.container {
    padding-bottom: 50px;
}

.about-me .container {
    padding-left: 20px;
}

.about-text {
    padding-top: 50px;
    color: #fff;
}

.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


/* ================================== */
/*              Projects              */
/* ================================== */

.conatiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    border-bottom: 1px solid rgba(19,127,135,1);
    padding-bottom: 100px;
}

.container .box {
    position: relative;
    width: 280px;
    height: 185px;
    background: rgba(113, 158, 200, 0.561);
    margin: 50px 20px 0 20px;
    display: inline-block;
}

.container .box .imgbox img {
    max-width: 100%;
    transition: transform 2s;
}

.container .box .text {
    position: absolute;
    top: 10px;
    left:10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .text {
    transform: scaleY(1);
}

.container .box .text .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.container .box .text .content h4 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: rgb(61, 207, 251);
}

.container .box .text .content p {
    margin: 10px 0 0;
    padding: 0;
}

.box a {
    margin: 30px 0;
    padding: 6px 30px;
    background-color: rgba(19,127,135,1);
    color: black;
    font-size: large;
    font-weight: bold;
}

.box .live {
    margin-left: 45px;
}

.box a:hover {
    background-color: rgba(61, 207, 251, 0.7);
    color: white;
}


/* ================================== */
/*               Footer               */
/* ================================== */

.linkedin,
.github,
.email {
    width: 35px;
    height: 35px;
    margin: 10px;
}


/* ================================== */
/*          Media Breakpoints         */
/* ================================== */

/* Padding for larger phone screens */

@media (min-width: 425px) {
    .container {
        padding-left: 55px;
    }

}

@media (min-width: 768px) {
  .container {
      padding-left: 50px;
  }

  .imgbox img {
    -webkit-box-shadow: 11px 11px 14px 1px rgba(61, 207, 251, 0.7);
    -moz-box-shadow: 11px 11px 14px 1px rgba(61, 207, 251, 0.7);
    box-shadow: 11px 11px 14px 1px rgba(61, 207, 251, 0.7);
  }

  .arrow {
    top: 75%;
    left: 49%;
  }

  .jumbotron {
      height: 100vh;
  }

}


@media (min-width: 1024px) {

    .container {
        max-width: 1024px;
    }

    .container .box {
        width: 45%;
        height: 287px;
    }

    .box .live {
        margin-left: 120px;
    }
}

